.venv/
__pycache__/
.ipynb_checkpoints/
data_embedding/
data_forcrawler_test/
data_articles/*
trivial/
nlo_extract_data/
wos_doi/
chroma/
articles/

temp/*
db/*
record/*
my_essay/*
articles_processed/*
articles_unprocessed/*
logs/*
ground_truth/*
reproduce_inorganic/*

*.ipynb
**/.DS_Store
data/*
.env
log.txt
.streamlit/

bypass_acs.py
bypass_wil.py
paradigm.jsonl
paradigm_results.jsonl
test_forloop.py
test_jsonload.py
temp.py

