.venv/
__pycache__/
.ipynb_checkpoints/
data_embedding/
data_forcrawler_test/
data_articles/*
trivial/
nlo_extract_data/
wos_doi/
chroma/
articles/
TEST_FILES/

temp/*
db/*
record/*
my_essay/*
articles_processed/*
articles_unprocessed/*
logs/*
ground_truth/*
reproduce_inorganic/*
data_articles_inorganic/*
data_articles_pan/*
pvc/*
inorganic_recipe_result/*
optimize/*
playground_valuable/*
heas_test/*


**/.DS_Store
data/*
.env
log.txt
.streamlit/

bypass_acs.py
bypass_wil.py
paradigm.jsonl
paradigm_results.jsonl
test_forloop.py
test_jsonload.py
temp.py

router.py
files_50/
csv_files/
show.sh
