pylint
httpx
pandas
python-dotenv
tqdm
playwright
beautifulsoup4
langchain
langchain_openai
openai
tiktoken
numpy
scipy
scikit-learn
termcolor
pydantic
xlrd
docarray
datamodel-code-generator
chromadb
streamlit
graphviz